@model Test.Models.Bill

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BillId" />
            <div class="form-group">
                <label asp-for="NgayNhanThucTe" class="control-label"></label>
                <input asp-for="NgayNhanThucTe" class="form-control" />
                <span asp-validation-for="NgayNhanThucTe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTraThucTe" class="control-label"></label>
                <input asp-for="NgayTraThucTe" class="form-control" />
                <span asp-validation-for="NgayTraThucTe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TienDatCoc" class="control-label"></label>
                <input asp-for="TienDatCoc" class="form-control" />
                <span asp-validation-for="TienDatCoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongTienThanhToan" class="control-label"></label>
                <input asp-for="TongTienThanhToan" class="form-control" />
                <span asp-validation-for="TongTienThanhToan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhieuDatPhongId" class="control-label"></label>
                <input asp-for="PhieuDatPhongId" class="form-control" />
                <span asp-validation-for="PhieuDatPhongId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

