@model DatPhongTongHop

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DatPhong</h4>
<hr />
<div class="row" >
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="newDatPhong.TenNguoiDat" class="control-label"></label>
                <input type="text"  asp-for="newDatPhong.TenNguoiDat" class="form-control" />
                <span asp-validation-for="newDatPhong.TenNguoiDat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newDatPhong.Address" class="control-label"></label>
                <input type="text"  asp-for="newDatPhong.Address" class="form-control" />
                <span asp-validation-for="newDatPhong.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newDatPhong.City" class="control-label"></label>
                <input type="text"   asp-for="newDatPhong.City" class="form-control" />
                <span asp-validation-for="newDatPhong.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newDatPhong.CMND" class="control-label"></label>
                <input type="text"   asp-for="newDatPhong.CMND" class="form-control" />
                <span asp-validation-for="newDatPhong.CMND" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newDatPhong.SDT" class="control-label"></label>
                <input type="text"  asp-for="newDatPhong.SDT" class="form-control" />
                <span asp-validation-for="newDatPhong.SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newDatPhong.TienDatCoc" class="control-label"></label>
                <input asp-for="newDatPhong.TienDatCoc" class="form-control" />
                <span asp-validation-for="newDatPhong.TienDatCoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newDatPhong.ThoiGianNhanPhongDuKien" class="control-label"></label>
                <input asp-for="newDatPhong.ThoiGianNhanPhongDuKien" class="form-control" />
                <span asp-validation-for="newDatPhong.ThoiGianNhanPhongDuKien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newDatPhong.ThoiGianTraPhongDuKien" class="control-label"></label>
                <input asp-for="newDatPhong.ThoiGianTraPhongDuKien" class="form-control" />
                <span asp-validation-for="newDatPhong.ThoiGianTraPhongDuKien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newDatPhong.UserId" class="control-label"></label>
                <input asp-for="newDatPhong.UserId" class="form-control" />
                <span asp-validation-for="newDatPhong.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="myBtn" />
            </div>
        </form>
    </div>
</div>
  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
document.getElementById("myBtn").onclick= function () {
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "Simple Line Chart"
	},
	axisY:{
		includeZero: false
	},
	data: [{        
		type: "line",       
		dataPoints: [
			{ y: 450 },
			{ y: 414},
			{ y: 520, indexLabel: "highest",markerColor: "red", markerType: "triangle" },
			{ y: 460 },
			{ y: 450 },
			{ y: 500 },
			{ y: 480 },
			{ y: 480 },
			{ y: 410 , indexLabel: "lowest",markerColor: "DarkSlateGrey", markerType: "cross" },
			{ y: 500 },
			{ y: 480 },
			{ y: 510 }
		]
	}]
});
chart.render();

}
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
