@model Hotel.Models.Phong

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Phong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenPhong" class="control-label"></label>
                <input asp-for="TenPhong" class="form-control" />
                <span asp-validation-for="TenPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoNguoiOToiDa" class="control-label"></label>
                <input asp-for="SoNguoiOToiDa" class="form-control" />
                <span asp-validation-for="SoNguoiOToiDa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTaPhong" class="control-label"></label>
                <input asp-for="MoTaPhong" class="form-control" />
                <span asp-validation-for="MoTaPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CachTinhTien" class="control-label"></label>
                <input asp-for="CachTinhTien" class="form-control" />
                <span asp-validation-for="CachTinhTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhuThu" class="control-label"></label>
                <input asp-for="PhuThu" class="form-control" />
                <span asp-validation-for="PhuThu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhTrangPhong" class="control-label"></label>
                <input asp-for="TinhTrangPhong" class="form-control" />
                <span asp-validation-for="TinhTrangPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiPhongId" class="control-label"></label>
                <select asp-for="LoaiPhongId" class ="form-control" asp-items="ViewBag.LoaiPhongId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
