@model Hotel.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NguoiDungId" />
            <div class="form-group">
                <label asp-for="HoTenNguoiDung" class="control-label"></label>
                <input asp-for="HoTenNguoiDung" class="form-control" />
                <span asp-validation-for="HoTenNguoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CmndNguoiDung" class="control-label"></label>
                <input asp-for="CmndNguoiDung" class="form-control" />
                <span asp-validation-for="CmndNguoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SdtNguoiDung" class="control-label"></label>
                <input asp-for="SdtNguoiDung" class="form-control" />
                <span asp-validation-for="SdtNguoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailNguoiDung" class="control-label"></label>
                <input asp-for="EmailNguoiDung" class="form-control" />
                <span asp-validation-for="EmailNguoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <input asp-for="AccountId" class="form-control" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
