@model Test.Models.LoaiDichVu
@{
    ViewData["Title"] = "Details";
}
<br />
<h2 class="text-info">Chi tiết loại dịch vụ</h2>
<div class="p-4 border rounded">
    <div class=" form-group row">
        <div class="col-3">
            <label asp-for="TenLoaiDichVu">Tên loại dịch vụ</label>
        </div>
        <div class="col-5">
            <input asp-for="TenLoaiDichVu" disabled class="form-control" />
        </div>
    </div>
  
    <br />
    <div class="form-group">
        <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.LoaiDichVuId">Chỉnh sửa</a>
        <a asp-action="Index" class="btn btn-success">Quay lại danh sách</a>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}