@{
    ViewData["Title"] = "Home";
}
<style>
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        text-align:center;
        
        
    }
    .layout
    {
        width:87rem;
        height:50rem;
        background-image:url("../images/bn1.jpg")
        
    }
    h1
    {
        text-align:center;
        font-family:'Times New Roman';
        font-weight:400;
        font-style:normal;
        font-size:30px;
        line-height:33px;
        color:#737373;
    }
    .card img
    {
        width:600px;
        transition: all 1s ease;
    }
    .card:hover img
    {
        transform:scale(1.2);
    }
    .window
    {
        justify-content:center;
        width:1274px;
        position:relative;
        height:370px;
    }
    .split-screen-cta
    {
        width:50%;
        position:absolute;
        height:100%;
        -webkit-transition: width 1s;
        transition: width 1s;
    }
    .left-half
    {
        left:0px;
    }
    .left-half:hover
    {
        width: 75%;
    }
    .right-half
    {
        right:0px;
    }
    
</style>
<div class="container">
    <div class="layout">
        <h1>Trải nghiệm. Thư giản. Khám phá.</h1>
    </div>
    <div class="container overview">
        <div class="row">
            <h1>WELCOME TO CICI HOTEL</h1>
            <img class="img-overview" src="~/images/img-overview.jpg" alt="Welcome to CiCi Hotel" style="max-width:100%" />
            <p class="showMore" style="text-align:center">
                Cici Hotel is located in the west of Hanoi. Cici Hotel is a great destination and brings you the most enjoyable
                experience when you come to us. Come to Cici Hotel, you will be immersed in fresh nature, to participate in leisure activities,
                relax to take away the sorrows and chaos of life. Cici Hotel with all kinds of amenities and mordern bungalows combined, traditional
                style, restaurant system, conference room,&nbsp;...
            </p>
            <div class="form-group">
                <a asp-area="Admin" asp-controller="Phongs" asp-action="Index">
                    <input type="submit" value="MAKE A RESERVATION" class="btn btn-primary" />
                </a>
            </div>
        </div>
        <div class="row">
            <h1>ACCOMODATION</h1>
            <br />
            <br />
            <div class="window">
                <section class="split-screen-cta left-half">
                    <img src="~/images/RoomImages/1.jpg" />
                </section>
                <section class="split-screen-cta right-half">
                    <img src="~/images/RoomImages/4.jpg" />
                </section>
            </div>
        </div>
    </div>
</div>

@*<script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function GetFavColor() {
            document.body.className = "bg-login";
        });
</script>*@