@model Test.Models.ViewModel.PhongViewModel
@{
    ViewData["Title"] = "Delete";
}

<br />
<h2 class="text-info">Xóa phòng</h2>

<form method="post" asp-action="Delete">
    <div class="p-4 border rounded">
        <input type="hidden" asp-for="Phong.PhongId" />
        <div class=" form-group row">
            <div class="col-3">
                <label asp-for="Phong.TenPhong">Tên phòng</label>
            </div>
            <div class="col-5">
                <input asp-for="Phong.TenPhong" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Phong.SoNguoiOToiDa"></label>
            </div>
            <div class="col-5">
                <input asp-for="Phong.SoNguoiOToiDa" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Phong.MoTaPhong"></label>
            </div>
            <div class="col-5">
                <input asp-for="Phong.MoTaPhong" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Phong.CachTinhTien"></label>
            </div>
            <div class="col-5">
                <input asp-for="Phong.CachTinhTien" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Phong.PhuThu"></label>
            </div>
            <div class="col-5">
                <input asp-for="Phong.PhuThu" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Phong.TinhTrangPhong"></label>
            </div>
            <div class="col-5">
                <input asp-for="Phong.TinhTrangPhong" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="LoaiPhongs"></label>
            </div>
            <div class="col-5">
                <input asp-for="Phong.LoaiPhongs.TenLoaiPhong" disabled class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <img src="Phong.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
            </div>

        </div>

        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Xóa" />
            <a asp-action="Index" class="btn btn-success">Quay lại danh sách</a>
        </div>
    </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

