@model Test.Models.ViewModel.PhongViewModel
@{
    ViewData["Title"] = "Details";
}

<br />
<h2 class="text-info">Chi tiet</h2>

<div class="p-4 border rounded row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Phong.TenPhong"></label>
            </div>
            <div class="col-8">
                <input asp-for="Phong.TenPhong" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Phong.SoNguoiOToiDa"></label>
            </div>
            <div class="col-8">
                <input asp-for="Phong.SoNguoiOToiDa" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Phong.MoTaPhong"></label>
            </div>
            <div class="col-8">
                <input asp-for="Phong.MoTaPhong" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Phong.CachTinhTien"></label>
            </div>
            <div class="col-8">
                <input asp-for="Phong.CachTinhTien" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Phong.PhuThu"></label>
            </div>
            <div class="col-8">
                <input asp-for="Phong.PhuThu" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Phong.TinhTrangPhong"></label>
            </div>
            <div class="col-8">
                <input asp-for="Phong.TinhTrangPhong" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="LoaiPhongs"></label>
            </div>
            <div class="col-8">
                <input asp-for="Phong.LoaiPhongs.TenLoaiPhong" readonly class="form-control" />
            </div>
        </div>

    </div>
    <div class="col-1">

    </div>
    <div class="col-3">
        <img src="@Model.Phong.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
    </div>


    <br />
    <div class="form-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Phong.PhongId">Edit</a>
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>
