@using Microsoft.AspNetCore.Http
@using Test.Extensions
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="~/js/lightpick.js"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TNT Hotel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="LoaiPhong" asp-action="Index">Loại phòng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Phong" asp-action="Index">Phòng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="LoaiDichVu" asp-action="Index">Loại dịch vụ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="DichVu" asp-action="Index">Dịch vụ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Bill" asp-action="Index">Hóa đơn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="ChiTietHoaDon" asp-action="Index">Chi tiết hóa đơn</a>
                    </li>
                    <li class="nav-item">
                    @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("sslistPhong") != null)
                    {
                        <li style="color:white">
                            <a asp-area="Customer" asp-controller="DatPhong" asp-action="Index" class="nav-link">
                                <i class="fas fa-shopping-cart"></i> &nbsp;
                                @{
                                    var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("sslistPhong").Count;
                                }
                                (@count)
                            </a>

                        </li>

                    }
                    else
                    {
                        <li style="color:white">
                            <a asp-area="Customer" asp-controller="DatPhong" asp-action="Index" class="nav-link">
                                <i class="fas fa-shopping-cart"></i> &nbsp;

                                (0)
                            </a>

                        </li>

                    }
                </ul>                    </li>
                    </ul>
                </div>
        </div>

    </nav>
</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
